.container {
    margin: 0 auto;
    width: 400px;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}
.header, .footer {
    background-color: darkseagreen;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.allblocks {
    display: flex;
    column-gap: 10px;
}
.menu {
    width: 140px;
    background-color: mediumpurple;
}
.posts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.post {
    background-color: lightskyblue;
    height: 145px;
    width: 245px;
}
